@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
/* Add this to your main CSS file or within global styles */
body {
  background: linear-gradient(90deg, #fff7ad, #ffa9f9); /* Ensure the whole page has this background */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

